@import '../../assets/variables';

.s-side {
	position: fixed;
	z-index: 4;
    background-color: $secondary-color;
	width: 70%;
    height: 100vh;
    box-shadow: 0 0 15px $dark-shadow-color;
	transform: translate(-105%, 0);
	-webkit-transition: 350ms;
	-moz-transition: 350ms;
	transition: 350ms;
}

.open {
	transform: translate(0, 0);
}

.s-topnav {
    position: fixed;
    height: 4.5em;
    width: 100%;
    background-color: $text-color;
    box-shadow: 0 0 15px $dark-shadow-color;
}

/* * {
    border: 1px solid white;
} */
 
.s-list {
    padding: 2em 0 0 0;
    li {
        width: 100%;
        list-style: none;
        text-align: right;
        padding: .5em 0;
        a {
            padding-right: 2em;
            text-decoration: none;
            font-size: 1em;
            color: $text-color;
            font-family: $font-stack;
        }
    }
}

.s-sensor {
    position: fixed;
    height: calc(100vh - 4.7em);
    width: 10%;
    bottom: 0;
}

.s-tsensor {
    position: fixed;
    background-color: transparent;
    height: 100%;
    width: 100%;
    visibility: hidden;
    transition: 350ms ;
}

.s-overpose {
    background-color: $dark-shadow-color;
    position: fixed;
    visibility: visible;
}

#s-icon {
    position: fixed;
    padding: 1em;
    color: $secondary-color;
    font-size: 1.5em;
}

.s-icon-launch {
    @extend #s-icon;
}

.s-icon-close {
    @extend #s-icon;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 180ms ease-in-out, opacity 180ms ease-out;

}

.show-element {
    visibility: visible;
    opacity: 1;
}

.light {
    -webkit-text-stroke: 2px $text-color;
}

.light-2 {
    -webkit-text-stroke: 3px $text-color;
}

.active {
    box-shadow: inset -5px 0 0 0 $accent-color;
    background-color: grayscale($color: rgba(0, 0, 0, .084));
}

@media only screen and (min-width: 721px ){
	*[class*='s-']{
		display: none;
	}
}