<!--  <div class="s-icon-container">
  <i class="fa fa-arrow-right s-icon light" aria-hidden="true"></i>
</div>  
 -->
<div class="s-topnav">
    <div class="fa fa-bars s-icon-launch light" (tap)="sideMenu()"></div>
</div>


<div class="s-side" (swipeleft)="sideMenu()" [ngClass]="{ 'open': isSwiped }">
    <ul class="s-list">
        <li class="active">
          <a href="">Inicio</a>
        </li>
        <li>
          <a href="">Acerca</a>
        </li>
        <li>
          <a href="">Equipo</a>
        </li>
        <li>
          <a href="">Contacto</a>
        </li>
      </ul>
</div>

<div class="s-tsensor" (swipe)="sideMenu()" (tap)="sideMenu()" [ngClass]="{'s-overpose': isSwiped}"></div>
<div class="s-sensor" (swipe)="sideMenu()"></div>
<div class="fa fa-remove s-icon-close light-2" (tap)="sideMenu()" [ngClass]="{'show-element': isSwiped}"></div>
