<!--The content below is only a placeholder and can be replaced.-->
<side-nav></side-nav>
<div class="stack">
  <app-nav-bar></app-nav-bar>
</div>
<div class="spacing"></div>
<div class="content" >
  <app-card></app-card>
</div>
<div class="spacing"></div>
<div class="content" >
  <app-card></app-card>
</div>
<div class="spacing"></div>
