@import '../assets/variables';

//*{
//    border: 1px black solid;
//}

.stack {
    background-image: url('../assets/img/stack-img.jpg');
    background-color: rgb(253, 253, 253);
    background-size: cover;
    height: 105vh;

}

.spacing {
    margin: 50px 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}