@import '../../assets/variables';

.nav {
    overflow-x: hidden;
}

.nav > ul {
    float: left;
    padding: 2em 5em;
}

.nav > ul > li > a {
    text-decoration: none;
    font-size: 1em !important;
    color: $text-color !important;
    text-align: center;
    margin: 1em .6em ;
    font-weight: 400;
}

.nav > ul > li {
    float: left;
    display: block;
    padding: 0 1.4em;
}

.nav > ul > li:after {
    content: '';
    display: block;
    margin: .45em auto auto auto;
    height: 1.4px;
    width: 0px;
    background: transparent;
    transition: width .25s ease, background-color .3s ease;
}
.nav > ul > li:hover:after {
    width: 100%;
    background: $accent-color;
}

@media only screen and (max-width: 720px){
    .nav {
        display: none;
    }
}