<nav class="nav col-1">
  <ul>
    <li>
      <a href="">Inicio</a>
    </li>
    <li>
      <a href="">Acerca</a>
    </li>
    <li>
      <a href="">Equipo</a>
    </li>
    <li>
      <a href="">Contacto</a>
    </li>
  </ul>
</nav>