@import './variables';

.button {
    padding: 13px 23px;
    border-radius: 50px;
    border-style: none;
    border: solid $text-color 1px;
    background-color: transparent;
    font-family: $font-tittle;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    letter-spacing: 2px;
}

.button:hover {
    background-color: $text-color;
    color: white;
    transition: 150ms ease-in;
}
