/*
 * Columnas XD
 *
*/

.col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.col.one {width: 8.33%;}

.col.two {width: 16.66%;}

.col.three {width: 25%;}

.col.four {width: 33.33%;}

.col.five {width: 41.66%;}

.col.six {width: 50%;}

.col.seven {width: 58.33%;}

.col.eight {width: 66.66%;}

.col.nine {width: 75%;}

.col.ten {width: 83.33%;}

.col.eleven {width: 91.66%;}

.col.twelve {width: 100%;}

@media only screen and (max-width: 600px) {
    .col.s-one {width: 8.33%;}

    .col.s-two {width: 16.66%;}

    .col.s-three {width: 25%;}

    .col.s-four {width: 33.33%;}

    .col.s-five {width: 41.66%;}

    .col.s-six {width: 50%;}

    .col.s-seven {width: 58.33%;}

    .col.s-eight {width: 66.66%;}

    .col.s-nine {width: 75%;}

    .col.s-ten {width: 83.33%;}

    .col.s-eleven {width: 91.66%;}

    .col.s-twelve {width: 100%;}
}

@media only screen and (min-width: 601px) {
    .col.m-one {width: 8.33%;}

    .col.m-two {width: 16.66%;}

    .col.m-three {width: 25%;}

    .col.m-four {width: 33.33%;}

    .col.m-five {width: 41.66%;}

    .col.m-six {width: 50%;}

    .col.m-seven {width: 58.33%;}

    .col.m-eight {width: 66.66%;}

    .col.m-nine {width: 75%;}

    .col.m-ten {width: 83.33%;}

    .col.m-eleven {width: 91.66%;}

    .col.m-twelve {width: 100%;}
}

@media only screen and (max-width: 992px) {
    
    .col.l-one {width: 8.33%;}
    
    .col.l-two {width: 16.66%;}
    
    .col.l-three {width: 25%;}
    
    .col.l-four {width: 33.33%;}
    
    .col.l-five {width: 41.66%;}
    
    .col.l-six {width: 50%;}
    
    .col.l-seven {width: 58.33%;}
    
    .col.l-eight {width: 66.66%;}
    
    .col.l-nine {width: 75%;}
    
    .col.l-ten {width: 83.33%;}
    
    .col.l-eleven {width: 91.66%;}
    
    .col.l-twelve {width: 100%;}
}

@media only screen and (min-width: 993px) {
    
    .col.xl-one {width: 8.33%;}
    
    .col.xl-two {width: 16.66%;}
    
    .col.xl-three {width: 25%;}
    
    .col.xl-four {width: 33.33%;}
    
    .col.xl-five {width: 41.66%;}
    
    .col.xl-six {width: 50%;}
    
    .col.xl-seven {width: 58.33%;}
    
    .col.xl-eight {width: 66.66%;}
    
    .col.xl-nine {width: 75%;}
    
    .col.xl-ten {width: 83.33%;}
    
    .col.xl-eleven {width: 91.66%;}
    
    .col.xl-twelve {width: 100%;}
}

/*
 * Filas XD
 *
*/

