$font-stack: 'Quicksand', sans-serif;
$font-tittle: 'Quicksand', sans-serif;

$accent-color: rgb(243, 44, 44);
$primary-color: rgb(192, 192, 192);
$secondary-color: rgb(253, 253, 253);
$text-color: rgb(14, 14, 14);
$dark-shadow-color: rgba(26, 26, 26, 0.39);
$light-shadow-color:rgb(189, 189, 189);