/* You can add global styles to this file, and also import other style files*/
@import 'assets/variables';

body {
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    background: url(assets/img/back.jpg);
    background-color: rgb(253, 253, 253);
    background-size: cover;
    height: 100vh;
}
