@import '../../../assets/variables';

.content-main {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #f9f9f9;
    min-height: 30em;
    max-width: 70em;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(189, 189, 189);
}

.img {
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    border-radius: 20px 0 0 20px;
}

.img-about {
    background-image: url(/assets/img/about.jpg);
    @extend .img;
}

.content-card {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
     p {
         text-align: center;
         margin: 15px;
         line-height: 150%;
         letter-spacing: 1px;
     }

     h1 {
         margin-top: 1em;
         text-decoration: none;
         font-size: 1.5em;
         color: $text-color;
         font-family: $font-tittle;
     }

     button {
         margin-top: 1em;
     }
}

@media only screen and (max-width: 600px) {
    .img {
        height: 20vh;
        border-radius: 20px 20px 0 0;
    }

    h1 {
        margin-top: 0em;
    }
}