<div class="content-main col twelve">
  <div class="card col s-eleven m-eleven xl-ten">
    <div class="img-{{class}} col s-twelve m-four"></div>
    <div class="content-card col s-twelve m-eight">
      <h1>What do we do?</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
      </p>
      <button class="button">Continuar</button>
    </div>
  </div>
</div>
